* {
    flex-basis: auto;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 10px;

}

main {
    display: flex;
    flex-direction: column;
    width: 1190px;
    margin: auto;
    min-height: calc(100vh - 20px);
}

.banner {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #1D9977;
}

.banner h1 {
    font-size: 3rem;
    color: #F3D410;
    margin: auto;
}

.container_menus {
    padding-top: 25px;
    padding-bottom: 25px;
}

.liste_menus {
    display: flex;
    width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 425px;
    height: 600px;
    margin: 35px;
    box-shadow: 1px 1px 20px #BDC3C7;
}

    /* Fonts et boutons des menus de la page index */
/* fonts */

.special_font {
    font-family: 'Kalam', cursive; /* font par défaut, remplacée si différente */
}

#lanoteenchantee {
    background-color: #FFD6D6;
    font-family: 'Lobster Two', cursive;
}
#lanoteenchantee i {
    font-size: 3rem;
    background: -webkit-linear-gradient(160deg, #ffa366, #ff3333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#lechicalafrancaise {
    background-color: #FFF3F7;
    font-family: 'Libre Baskerville', serif;
}

#lechicalafrancaise h2 {
    background: -webkit-linear-gradient(100deg, #9966ff, #e67300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#lechicalafrancaise .special_font {
    font-family: 'Libre Baskerville', serif;
    color: #e67300;
}


#ledelicedespapilles {
    background-color: #FAFAFA;
    font-family: 'Dancing Script', cursive;
}
#ledelicedespapilles h2 {
    background: -webkit-linear-gradient(150deg, #66b3ff, #0000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ledelicedespapilles .special_font {
    color: #3399ff;
}




#lapalettedugout {
    background-color: #F7FFFA;
    font-family: 'Kalam', cursive;
}

#lapalettedugout .special_font {
    color: #00b300;
}

#lapalettedugout h2 {
    background: -webkit-linear-gradient(150deg, #ddffcc, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* boutons du menu */

/* Note concernant les boutons : le PDF donnant les instructions ne précise pas si le fondu (opacity) s'applique au texte, à la background color du parent, ou aux deux. */
/* Comme la phrase parle juste de "zoom avec fondu" j'ai ici appliqué le fondu à tout le bouton sur le menu, cependant, il est tout à fait possible de changer cela */
/* Pour l'appliquer uniquement au parent, il faut créer un enfant adjacent de la même taille que le parent, lui donner à lui une background color, et le modifier si besoin est avec les propriétés affectant les enfants voisins, vu qu'on ne peut pas modifier un parent avec du :hover (CSS veut bien dire "cascading"... il faut donc gruger, car on ne peut pas remonter) */
/* Pour ne l'appliquer qu'au texte, il suffit de changer la valeur d'opacity du texte. Simple. */
/* Notez qu'on peut aussi faire des tas de magouilles avec SASS et/ou du JS pour créer des boutons invisibles superposés qui échangent de position sur l'axe Z avec un fondu, mais le projet ne demande d'utiliser que du CSS, et malgré des heures de recherche, je n'ai pas trouvé comment effectuer lesdites magouilles sans avoir le droit d'utiliser SASS ou du Javascript... */
/* Je suis donc désolé pour l'optimisation des animations et les temps de chargement, mais je ne vois pas comment faire sans SASS ni JS. */
/* ... Et pour être très franc je trouve le fait de faire un fondu sur des couleurs déjà très claires d'une profonde s******** dans tous les cas o_O on voit que dal ! */ 

.btn {
    margin: auto;
    text-align: center;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}

.btn h3 {
    font-size: 3rem;
    margin: 20px auto;
}


.menu {
    cursor: pointer;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 400ms;
}    

.menu:hover {
    opacity: 0.8;
}
.menu:hover .btn{
    transform: scale(1.15);
}





    /* Prochainement */

.comingsoon {
    display: flex;
    width: 400px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: #1D9977;
    border-radius: 20px;
    text-align: center;
}

.comingsoon p {
    font-size: 2rem;
    color: #F3D410;
    margin: auto;
}
.points {
    font-size: 2rem;
    font-weight: bold;
    color: #F3D410;
    margin: auto;
}


    /* Footer */

footer {
    display: flex;
    width: 1190px;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    background-color: #1D9977;
    /*padding-left: 30px;
    padding-right: 30px;*/
}

.liens_utiles {
    font-size: 2rem;
    color: #F3D410;
    padding-left: 30px;
    padding-right: 30px;
}
a {
    color: #F3D410;
    text-decoration: none;
}

